body {
  background: #E3E9F2 ('/images/.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;




}

h1 {
font-family: fantasy;
font-size: 100px;
color: black;
text-align: center;
margin: 450px auto;
}





.flex-container {
display: flex;
justify-content: center;
height: 400px;
align-items: center;
}