body {
background: url('/images/cloud.jpg');
background-repeat: no-repeat;
background-size: cover;

}

h1 {
font-family: fantasy;
font-size: 50px;
text-align: center;
}


p {
text-align: center;
}

.img {
display: flex;
justify-content: center;
align-items: center;

}


