body {
  background: #E3E9F2 url('/images/earth.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;


}

h1 {
font-family: fantasy;
font-size: 100px;
color: #FAEBD7;
text-align: center;
margin: 450px auto;
}

form {
text-align: center ;
}