body {

font-size: 10px;

}


.flex-container {
display: flex;
justify-content: center;
height: 400px;
align-items: center;
}


.product-details {

font-size: 15px;

}

.pageHeader {
font-size: 20px;
}

.form {
font-size: 15px;
}

