body {

font-size: 10px;
background: url('/images/cloud.jpg');
background-repeat: no-repeat;
background-size: cover;

}


.flex-container {
display: flex;
justify-content: center;
height: 400px;
align-items: center;
mix-blend-mode: multiply;
}


.product-details {

font-size: 15px;

}

.pageHeader {
font-size: 50px;
text-align: center;
font-family: fantasy;
}

.welcome {
font-size: 30px;
font-family: fantasy;

}

.form {
font-size: 18px;
margin: 120px;
}

all-products {

font-size: 15px;
margin:


}

ul li {

list-style-type: none;
padding: 2;
margin: 100;
text-align: center;
align-items: center;


}

li {
margin: 1.5em 0;
}

.image {
height: 90px ;


}

table {
    width: 100%;
}

th td {
    height: 50px;
    text-align: left;
    padding: 30px;

}
