<h1>Please Login to View Our Products</h1>

<head>

<link href="/thanks.css" rel="stylesheet" type="text/css" />
</head>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text">

    <label for="email">Email address:</label>
    <input id="email" name="email" type="text">

    <button type="submit">Sign in</button>
</form>

