<form action="/products" method="get">
    <input type="submit" value="View Available Products" class="button center">
</form>

<form action="/About" method="get">
<input type="submit" value="About Us" class="button center">
</form>

<form action="/login" method="get">
<input type="submit" value="Login in/Register" class="button center">
</form>


<h1>Ethics & Cosmetics</h1>

