<h1>Thanks for registering!</h1>

<p>Look out for promotions and money off vouchers from us</p>

<head>

<link href="/thanks.css" rel="stylesheet" type="text/css" />
</head>

<form action="/products" method="get">
<input type="submit" value="View available products" class="button center">
</form>

<form action="/Home" method="get">
<input type="submit" value="Return to homepage" class="button center">
</form>



